openai
tiktoken
python-dotenv
fastapi
uvicorn
pydantic
presidio-analyzer
presidio_anonymizer
llama-index
llama-index-vector-stores-faiss
llama-index-tools-duckduckgo
llama-index-agent-openai
pypdf
requests
pandas
tqdm
pymongo
streamlit
faiss-cpu
langchain-community